.banner {
    padding: 80px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__slide {
        position: relative;

        max-width: 900px;
        height: 400px;
        overflow: hidden;

        &-left,
        &-right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        &-left {
            left: 15px;
        }

        &-right {
            right: 15px;
        }
    }
}