.banner {
    padding: 80px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        // position: relative;
    }

    &__slide {

        max-width: 870px;
        max-height: 400px;
        position: relative;
        overflow: hidden;

        &-left,
        &-right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 1000;
        }

        &-item {
            width: 100%;
            // position: relative;
        }

        &-left {
            left: 15px;
        }

        &-right {
            right: 15px;
        }

        &-inner {
            // width: 2600px;
            // position: relative;
            display: flex;
        }
    }

    &__sale {
        box-sizing: border-box;
        width: 280px;
        border: 1px solid rgb(148, 148, 148);

        &-top {
            display: flex;
            justify-content: space-between;
        }

        &-box {
            font-family: 'Barlow', sans-serif;
            font-weight: bold;
            font-size: 12px;
            // text-align: center;
            line-height: 15px;
            padding: 8px 20px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            background-color: #1C62CD;
            // width: 90px;
            height: 30px;
            color: #FFFFFF;
        }

        &-prices {
            text-align: right;
        }

        &-new {
            font-weight: bold;
            font-size: 27px;
            line-height: 32px;
            color: #1C62CD;
            padding: 5px 7px 0 0;
        }

        &-old {
            color: #C4C4C4;
            font-size: 16px;
            padding-right: 5px;
            position: relative;
            display: block;

            // overflow: hidden;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 70%;
                height: 1px;
                display: block;
                background-color: #C4C4C4;
                transform: rotate(-10deg);
            }
        }

        &-img {
            display: block;
            // width: 100%;
            max-width: 100%;
            // text-align: center;
            margin: 0 auto;
        }

        &-title {

            // padding: 0 60px;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            // margin: 0 auto;
            margin: 10px 0 5px;

            // text-align: center;
        }

        &-footer {
            background: #F0F0F4;
            // height: 99px;
            // max-width: 280px;
            // width: 260px;
            text-align: center;
            padding: 30px;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;

            // margin-bottom: 5px;
            span {
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #1C62CD;
            }
        }

    }
}

.doths {
    position: absolute;
    bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.doth {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.active {
    background-color: #fff;
}