.header {
    &__up-inner {
        min-height: 122px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        position: relative;
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__adress {
        margin-right: 50px;
        position: relative;
        width: 280px;
        padding-left: 30px;

        &::before {
            content: "";
            width: 30px;
            height: 30px;
            background: url(../../images/items/map.svg);
            display: block;
            position: absolute;
            left: 0;
            top: -10px;
        }
    }

    &__items {
        display: flex;

        &-link {
            padding-right: 20px;


        }


        &-circle {
            width: 20px;
            height: 20px;
            background-color: #1C62CD;
            border-radius: 50%;
            position: absolute;
            right: 6px;
            top: 11px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;
            font-size: 10px;
            color: #fff;
            font-family: "SFProDisplay-Medium", sans-serif;
        }

        &-basket {
            position: relative;
            display: block;
        }
    }

    &__down {
        &-list {
            display: flex;
            justify-content: space-around;
            position: relative;
            min-height: 53px;
            align-items: center;
            background: #F0F0F4;
        }

        // &-item {
        //     position: relative;

        // }

        &-link {
            // position: absolute;
            // top: 50%;
            transition: all 1s;
            // left: 50%;
            // transform: translate(-50%, -50%);
            text-decoration: none;
            font-size: 20px;
            line-height: 24px;
            position: relative;

            &::before {
                content: "";
                width: 0;
                height: 3px;
                background: #1C62CD;
                display: block;
                position: absolute;
                bottom: -17px;
                transition: all .5s;
                left: auto;
            }

            &:hover {
                font-family: "SFProDisplay-Semibold", sans-serif;
                // font-weight: 600;
            }

            &:hover::before {
                width: 100%;
                left: 0;
                right: auto;
            }
        }
    }
}



.menu {
    display: flex;

    &__list+&__list {
        margin-left: 50px;
    }

    &__link {
        text-decoration: none;

    }

    &__burger {
        background: transparent;
        border: none;
        outline: none;
        display: none;

        &-line {
            background: #2F3035;
            border-radius: 3px;
            width: 34px;
            height: 3px;
            margin: 9px 0;
        }
    }
}

.burger {
    &__list {
        transform: translateX(-110%);
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        z-index: 1000;
        position: absolute;
        width: 243px;
        transition: 0.5s all;
        padding-bottom: 100px !important;

        &-active {
            transform: translateX(0%);
        }
    }

    &__item {
        padding-left: 53px;
        margin-top: 46px;
        position: relative;
        padding-bottom: 1px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &-img {
            position: absolute;
            left: 11px;
            bottom: 0;
        }
    }

    &__adress {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #2F3035;
        padding-left: 44px;
        margin-top: 60px;
    }
}

.header__mobile {
    &-list {
        display: none;
        padding: 0 20px !important;
        justify-content: space-between;
        background: #F0F0F4;
    }

    &-item {
        padding: 14px 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        /* Основной текст */

        color: #2F3035;
    }

}

.logo-mobile {
    display: none;
}