.search {
    margin-bottom: 80px;
     &__tabs {
         margin-bottom: 40px;
         &-item {
            font-size: 20px;
            line-height: 24px;
            color: #2F3035;
            padding: 11px 26px;
            border-radius: 7px;
            &-active {
                background: #F0F0F4;
                font-weight: bold;
            }
         }
         &-item + &-item {
             margin-left: 20px;
         }
     }
     &__content-item {
         display: flex;
         align-items: center;
     }
     &__content-input {
         width: 1045px;
        //  max-width: 1045px;
         height: 50px;
         margin-right: 0;
         padding-right: 0;
         display: inline-block;
         font-size: 16px;
        line-height: 19px;

        color: #656464;
        background: #F0F0F4;
        border-radius: 3px;
        border: none;
        padding: 0 20px;
        outline: none;
        //  display: block;
     }
     &__content-btn {
        //  display: block;
        margin-left: -6px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        /* identical to box height */

        letter-spacing: 0.12em;
        text-transform: uppercase;
        padding: 19px 40px 17px;
        background: #1C62CD;
        border-radius: 3px;
        transition: .3s all;
        border: none;
        cursor: pointer;
        &:hover {
            background: #4d81cf;
        }

     }
}